@import "bourbon"
@import "../app/libs/owl/assets/owl.carousel.sass"
$main_color: #F39F18
$header_color: #2c3949

*::-webkit-input-placeholder
	color: #fff
	opacity: 1

*:-moz-placeholder
	color: #fff
	opacity: 1

*::-moz-placeholder
	color: #fff
	opacity: 1

*:-ms-input-placeholder
	color: #fff
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #fff
body input:required:valid,
body textarea:required:valid
	color: #fff


.homesect
	padding-top: 70px
	background-color: #f9f9f9
	position: relative
	&::before
		content: ''
		height: 6px
		position: absolute
		top: -6px
		width: 100%
		background-image: url("img/bah_1.png")
		background-repeat: repeat-x
	h2
		text-align: center
		position: relative
		&::after
			position: absolute
			content: ''
			height: 4px
			background-color: $main_color
			width: 165px
			display: block
			bottom: -34px
			left: 50%
			transform: translate(-50%, 0) // выравнение по центру
	h4
		text-align: center
		margin-bottom: 70px
		

.section_content
	margin-top: 70px
	position: relative
	img
		width: 100%
	h3, h5
		text-align: center

.s_grey
	padding-top: 70px
	position: relative
	h2
		text-align: center
		position: relative
		&::after
			position: absolute
			content: ''
			height: 4px
			background-color: $main_color
			width: 165px
			display: block
			bottom: -34px
			left: 50%
			transform: translate(-50%, 0) // выравнение по центру
	h4
		text-align: center
	background-color: #E5E5E5
	position: relative
	&::before
		content: ''
		height: 6px
		position: absolute
		top: -6px
		width: 100%
		background-image: url("img/bah_3.png")
		background-repeat: repeat-x

.slider
	margin-top: 80px
	padding-bottom: 70px
	.slide
		text-align: center
		position: relative
		.img_wrap
			margin: 10px
			display: inline-block
			border-radius: 10em
			overflow: hidden
			box-shadow: 0 0 0 6px $main_color
			img
				width: 140px
				height: 140px
		.slide_description
			p
				font-size: em(15px)
				color: #6E7B8B
	.owl-controls
		text-align: center
		.owl-dot
			width: 15px
			height: 15px
			margin: 0 3px
			background-color: #CCC
			display: inline-block
			border-radius: 10em
			&.active
				background-color: $main_color
		.owl-nav
			position: absolute
			top: 12%
			width: 100%
			> div
				height: 29px
				width: 16px
				background-image: url("img/slider_arrows.png")
				position: absolute
				left: 20px
				opacity: .5
				transition: all .25s ease
				&:hover
					opacity: 1
			.owl-next
				right: 20px
				left: auto
				background-position: -16px 0

.button
	border: none
	cursor: pointer
	display: inline-block
	height: 46px
	line-height: 46px
	padding: 0 32px
	background-color: #000
	text-transform: uppercase
	text-align: center
	color: #fff
	border-radius: 3px
	text-decoration: none
	font-size: 16px
	font-family: "RobotoBold", sans-serif
	&.btn_orage
		background-color: $main_color
		color: #111

.tabs
	.tab
		font-family: "PFCentroSlabProMedium", $helvetica
		text-transform: uppercase
		font-size: em(20px)
.s_map
	padding-top: 70px
	padding-bottom: 70px
	background-color: #f9f9f9
	position: relative
	font-size: em(15px)
	&::before
		content: ''
		height: 6px
		position: absolute
		top: -6px
		width: 100%
		background-image: url("img/bah_1.png")
		background-repeat: repeat-x
	h2
		text-align: center
		position: relative
		margin-bottom: 70px
		&::after
			position: absolute
			content: ''
			height: 4px
			background-color: $main_color
			width: 165px
			display: block
			bottom: -34px
			left: 50%
			transform: translate(-50%, 0) // выравнение по центру
	h4
		text-align: center
		margin-bottom: 70px
	.tabs
		text-align: center
		line-height: 45px
		.tab
            padding: 10px 60px
            border: $main_color 5px solid
            line-height: 38px
            color: $main_color
            margin: 0 -4px
            &:first-child
            	border-radius: 3px 0 0 3px
            &:last-child
            	border-radius: 0 3px 3px 0
            &.active
            	background-color: $main_color
            	color: #111
	.tabs_wrapper
		.tab_item
			margin-top: 40px
			text-align: center
			p
				font-size: em(20px)
				font-family: "PFCentroSlabProMedium", $helvetica
				img
					margin-right: 5px
					margin-bottom: 5px

.main_footer
	padding-top: 70px
	position: relative
	background-color: #E5E5E5
	position: relative
	h2
		text-align: center
		position: relative
	&::before
		content: ''
		height: 6px
		position: absolute
		top: -6px
		width: 100%
		background-image: url("img/bah_3.png")
		background-repeat: repeat-x
	p
		text-align: center
		margin-top: 30px
		font-size: em(20px)
		font-family: "PFCentroSlabProMedium", $helvetica
	.connect_info
		text-align: center
		font-size: em(16px)
		font-family: "PFCentroSlabProMedium", $helvetica
		padding-bottom: 50px
		span
			color: #6E7B8B
	.phone
		span
			img
				margin-right: 5px
				margin-bottom: 5px
	.email
		span
			img
				margin-right: 5px
				margin-bottom: 5px
	.instagram
		span
			img
				margin-right: 5px
				margin-bottom: 5px


		
//ALWAYS END
@import "_media.sass"
