body {
    font-family: sans-serif;
    font-size: 16px;
    min-width: 320px;
    position: relative;
    line-height: 1.6;
    font-family: "OpenSansRegular", sans-serif;
    overflow-x: hidden;
}

.hidden {
    display: none;
}

.phone_top {
	position: relative;
	top: 10px;
	text-align: center;
}

.navbar-brand {
    padding: 0;
    position: relative;
    top: 5px;
    z-index: 2;
}

.main_head .lead {
    color: #fff;
    font-family: "OpenSansBold", sans-serif;
}

.main_head > .navbar {
    margin-bottom: 0;
    z-index: 20;
}

.carousel-inner > .item > img {
	position: relative;
}

.carousel-inner .overlay{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(36, 36, 36, .7);
	top: 0;
	left: 0;
	z-index: 1;
}

.main_head ul.navbar-nav {
	position: relative;
	z-index: 2;
}

.slide_img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
	background-size: cover;
}

.carousel-inner .h1 {
	font-family: "OpenSansBold", sans-serif;
	line-height: 1.5;
	margin-top: 0;
}