@font-face {
	font-family: "RobotoRegular";
	src: url("fonts/RobotoRegular/RobotoRegular.eot");
	src: url("fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"),
			 url("fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
			 url("fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "HelveticaNeueCyrMedium";
	src: url("fonts/HelveticaNeueCyrMedium/HelveticaNeueCyrMedium.eot");
	src: url("fonts/HelveticaNeueCyrMedium/HelveticaNeueCyrMedium.eot?#iefix") format("embedded-opentype"),
			 url("fonts/HelveticaNeueCyrMedium/HelveticaNeueCyrMedium.woff") format("woff"),
			 url("fonts/HelveticaNeueCyrMedium/HelveticaNeueCyrMedium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "HelveticaNeueCyrBold";
	src: url("fonts/HelveticaNeueCyrBold/HelveticaNeueCyrBold.eot");
	src: url("fonts/HelveticaNeueCyrBold/HelveticaNeueCyrBold.eot?#iefix") format("embedded-opentype"),
			 url("fonts/HelveticaNeueCyrBold/HelveticaNeueCyrBold.woff") format("woff"),
			 url("fonts/HelveticaNeueCyrBold/HelveticaNeueCyrBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "HelveticaNeueCyrLight";
	src: url("fonts/HelveticaNeueCyrLight/HelveticaNeueCyrLight.eot");
	src: url("fonts/HelveticaNeueCyrLight/HelveticaNeueCyrLight.eot?#iefix") format("embedded-opentype"),
			 url("fonts/HelveticaNeueCyrLight/HelveticaNeueCyrLight.woff") format("woff"),
			 url("fonts/HelveticaNeueCyrLight/HelveticaNeueCyrLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
