body {
	font-family: sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "RobotoRegular", sans-serif;
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p {
	padding: 0;
	margin: 0;
}

.hidden {
	display: none;
}

.main_head {
    background-image: url("img/background.png");
    min-height: 1200px;
    background-position: center top;
    background-size: cover;
}

.main_menu {
    color: #fff;
}

.main_menu a {
    color: #fff;
    padding: 18px 14px;
    display: block;
    font-family: "HelveticaNeueCyrMedium", sans-serif;
}

.main_menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.main_menu ul li {
    display: inline-block;
}

.tabs {
    background-image: url("img/bgi-min.png");
    z-index: 100;
}

.header_title {
	margin-left: 70px;
	padding-top: 35px;
	color: #fff;
}

.header_title h2 {
	font-size: 63px;
	font-family: "SourceSansProRegular", sans-serif;
}

.header_title h4 {
	font-size: 43px;
	font-family: "HelveticaNeueCyrBold", sans-serif;
	padding-bottom: 40px;
}

.header_title p {
	font-family: "HelveticaNeueCyrLight", sans-serif;
	font-size: 50px;
	padding-bottom: 70px;
}

.menu_icon svg {
	display: none;
}

.header_title a {
	padding: 18px;
	color: #fff;
	background-color: #f6ea2b;
	border-radius: 5px;
	font-size: 18px;
	text-transform: uppercase;
	line-height: 54px;
	text-decoration: none;
	-webkit-box-shadow: 10px 9px 8px -3px rgba(50, 50, 50, 0.25);
	-moz-box-shadow: 10px 9px 8px -3px rgba(50, 50, 50, 0.25);
	box-shadow: 10px 9px 8px -3px rgba(50, 50, 50, 0.25);
}


.result {
	padding-top: 500px;
	padding-left: 70px;
}
.result h4 {
	font-size: 42px;
	font-family: "HelveticaNeueCyrBold", sans-serif;
	margin-bottom: 85px;
}

.first_logo {
	width: 220px;
	height: 115px;
	background-image: url("img/logo-1.png");	
	background-repeat: no-repeat;
	background-position: center;
}

.second_logo {
	width: 220px;
	height: 123px;
	background-image: url("img/logo-2.png");	
	background-repeat: no-repeat;
	background-position: center;
}

.third_logo {
	width: 220px;
	height: 130px;
	background-image: url("img/logo-3.png");	
	background-repeat: no-repeat;
	background-position: center;
}

.fourth_logo {
	width: 220px;
	height: 115px;
	background-image: url("img/logo-4.png");	
	background-repeat: no-repeat;
	background-position: center;
}

.text_item {
	margin-bottom: 85px;
}

