/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.main_head {
		position: relative;
	}

	.header_logo img {
		width: 60%;
		padding-top: 25px;
		margin: 0 auto;
	}

	.header_title {
		margin: 0 auto;
	    text-align: center;
	}
	
	.header_title p {
		font-size: 27px;
	}

	.header_title h4 {
		font-size: 24px;
	}

	.header_title h2 {
		font-size: 35px;
	}

	.main_menu ul li {
	    display: block;
	}

	.main_menu {
		display: none;
	    background-color: #4e6284;
	    position: absolute;
	    top: 120px;
	    font-size: 26px;
	    z-index: 1;		
	}

	.main_menu a {
		border-bottom: 1px solid #445270;
	    padding: 18px 58px;
	}

	.menu_icon svg {
		display: block;
		position: absolute;
		top: 30px;
		right: 30px;
	}

	.header_title a {
		font-size: 10px;
	}

	.result {
		padding-left: 0;
		padding-top: 150px;
		text-align: center;
	}

	.result h4 {
		font-size: 35px;
	}

	.result_items {
		text-align: center;	
	}


	.first_logo,
	.second_logo,
	.third_logo,
	.fourth_logo {
		width: 100%;
		margin-bottom: 20px;
	}

	.text_item {
		padding: 0 50px;
	}

	.landing_page {
		text-align: center;		
	}
	.lp1 {
		width: 100%;
	}
	.lp_header {
		padding: 0;
		text-align: center;
		font-size: 30px;
	}

	.client_left {
		text-align: center;
		padding: 19px;
	}
	.client_item {
		width: 100%;

	}
	.sample img {
		width: 100%;
	}
	
	.grey_angular,
	.grey {
		width: auto;
	}

	.price img {
		width: 100%;
		padding: 0 35px;
		margin-left: 0;
	}

	.price p {
		font-size: 20px;
    	padding: 0 30px;		
	}
	.price_logo {
	    background-position: 35px 20px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.header_title {
		margin: 0 auto;
	    text-align: left;
	    padding-left: 60px;
	}
	.main_menu {
		right: 5px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.main_menu a {
	    padding: 18px 75px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 360px) {
	.main_menu a {
	    padding: 18px 50px;
	}
	.main_menu {
		right: 9px;
	}
}

@media only screen and (max-width : 400px) {
	.main_menu a {
	    padding: 18px 55px;
	}
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}