/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .main_menu {
    display: none;
    float: right;
    min-width: 320px;
    text-align: right;
    background-color: #1C242C;
    margin-top: 60px;
    border-bottom: #111821 4px solid;
    border-top: #232D3B 4px solid;
    position: absolute;
    right: 15px;
    z-index: 2; }
    .main_menu ul li {
      display: block;
      line-height: 0;
      padding: 0; }
    .main_menu ul a {
      display: block;
      line-height: 48px;
      padding: 0 20px; }
      .main_menu ul a:hover {
        background-color: #273646; }
  .phone {
    padding-right: 63px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .header_wrap {
    margin-top: 0; }
    .header_wrap h1 {
      margin-top: 120px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /*Disable Animation on Mobile Devices*/
  .animated {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .phone_wrap .phone {
    font-size: em(18px);
    line-height: 34px;
    padding-right: 45px; }
  .phone_wrap .toggle_menu {
    line-height: 34px;
    margin-top: 15px; }
  .phone_wrap .logo img {
    width: 70px; }
  .main_menu {
    min-width: 290px; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/
  .main_menu {
    display: block !important; } }
